body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  background-color: #383535;
}

h1 {
  color: #45a049;
  margin-bottom: 20px;
}

h2,
p {
  color: #fff;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 35px);
  grid-template-rows: repeat(9, 35px);
  gap: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#sudoku-grid input {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #49924b;
  background-color: #889dab;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#sudoku-grid input:hover {
  background-color: #4a7f8c;
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#message {
  font-size: 18px;
  color: red;
  text-align: center;
}

.instructions {
  text-align: center;
  margin-bottom: 20px;
}

.col3 {
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  #sudoku-grid {
    margin-top: 10px;
  }

  #sudoku-grid input {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
